<main class="main-menu">
  <h1>Welcome, {{name}}</h1>
  <section class="content">
    <article><h2>Character table</h2>
      <ul id="sheets">

        <li>
          <a href="sheet/new">Create new</a>
        </li>
        <br />
        {{#if userSheets}}
          {{#each userSheets}}
            <li>

              <a href="/sheet/{{this.id}}">{{this.name}}</a>
            </li>
          {{/each}}
        {{else}}
          <li> No sheets yet </li>
        {{/if}}

      </ul>
    </article>
    <article><h2>Rules</h2>
      <ul>
        {{#each rules}}
          <li>
            <a href="/rules/{{this.index}}">
              {{this.name}}
            </a>
          </li>
        {{/each}}
      </ul>
    </article>
  </section>
</main>
